# -*- coding: utf-8 -*-
"""
    straply.settings
    ~~~~~~~~~~~~~~~

    straply settings module
"""

from os.path import dirname, abspath


DEBUG = True
APP_ENVIRONMENT = "Dev"
SECRET_KEY = 'super secret key'
SENTRY_DSN = ''
UPLOAD_FOLDER = dirname(abspath(__file__)) + '/frontend/static/uploads'
ALLOWED_EXTENSIONS = set(['txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif'])

SQLALCHEMY_DATABASE_URI = 'postgresql://straply:strapon@127.0.0.1/straply'
CELERY_BROKER_URL = 'redis://33.33.33.10:6379/0'

MAIL_DEFAULT_SENDER = ''
MAIL_SERVER = 'smtp.postmarkapp.com'
MAIL_PORT = 25
MAIL_USE_TLS = True
MAIL_USERNAME = ''
MAIL_PASSWORD = ''

SECURITY_POST_LOGIN_URL = '/'
SECURITY_POST_REGISTER_VIEW = '/'
SECURITY_POST_LOGOUT_VIEW = '/login'
SECURITY_PASSWORD_HASH = 'bcrypt'
SECURITY_PASSWORD_SALT = ''
SECURITY_REMEMBER_SALT = ''
SECURITY_RESET_SALT = ''
SECURITY_RESET_WITHIN = '5 days'
SECURITY_POST_RESET_VIEW = '/login'
SECURITY_CONFIRM_WITHIN = '5 days'
SECURITY_SEND_REGISTER_EMAIL = False
SECURITY_EMAIL_SENDER = ''
SECURITY_REGISTERABLE = True
SECURITY_RECOVERABLE = True
SECURITY_TRACKABLE = True
SECURITY_CHANGEABLE = True
SECURITY_DEFAULT_REMEMBER_ME = True
