{% extends 'layout.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block body %}
<div class="container form-container">
	<h1>Register</h1>
	<form method="POST" name="register_user_form">
	  {{ register_user_form.hidden_tag() }}
	  {{ form_field(register_user_form.email) }}
	  {{ form_field(register_user_form.password) }}
	  {% if register_user_form.password_confirm %}
	    {{ form_field(register_user_form.password_confirm) }}
	  {% endif %}
	  {{ render_field(register_user_form.submit, class="btn btn-primary") }}
	</form>
</div>
{% endblock %}
