{% extends 'layout.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block wrapper %}
<div class="security">
    <div class="container">
        <div class="logo-group">
            <a href="/"><img src="/static/img/hipster-inc.png" alt=""></a>
        </div>
        <div class="row">
            <div class="login-form col-md-4 offset-md-4 col-sm-6 col-xs-12">
                <h1 class="">Register</h1>
                <form method="POST" name="register_user_form">
                  {{ register_user_form.hidden_tag() }}
                  {{ form_field(register_user_form.email) }}
                  {{ form_field(register_user_form.password) }}
                  {% if register_user_form.password_confirm %}
                    {{ form_field(register_user_form.password_confirm) }}
                  {% endif %}
                  {{ render_field(register_user_form.submit, class="btn btn-primary btn-lg btn-block") }}
                </form>
            </div>
        </div>
        <div class="padding-top-lg centered">
          Already have an account?<br>
          <a class="" href="{{ url_for_security('login') }}">Login Here</a>
        </div>
    </div>
</div>
{% endblock %}
