{% from "macros/forms.html" import form_field, form_fields, form_field_bare, form_button %}
{% from "macros/nav.html" import nav_li_for %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Page Title Goes Here</title>

    <link href="/static/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower/select2/select2.css" rel="stylesheet">
    <link href="/static/bower/select2/select2-bootstrap.css" rel="stylesheet">
    <link href="/static/bower/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>

    {% include 'includes/navbar.html' %}
    {% include 'includes/flashes.html' %}
    {% block body %}
        <div class="container">This is your body container.</div>
    {% endblock body %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bower/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower/select2/select2.min.js"></script>
    {% block javascript %} {% endblock %}
</body>

</html>
