
@import "semantic-css-helpers/helpers.scss";
@import "colors.scss";


html, body {
    height: 100%;
}
h1 {
    font-weight: normal;
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}

.lead {
    font-weight: 200;
}
h1, h2, h3, h4 {

}
.flash {
    margin: 0;
}

#wrapper {
    min-height: 100%;
    margin: 0 auto -60px;
    // background: rgba(0, 0, 0, 0.02);
}

#footer, #pusher {
    height: 60px;
}

#footer {
    a { padding: 5px 10px; }
}

body {
	min-height: 800px;
}

.index {
    .jumbotron {
        min-height: 400px;
        background-size: cover;
        h1 {
            margin-top: 80px;
        }
    }
}

.security {
    min-height: 100%;
    // background: @background;
    h1 {
        margin: 0;
        padding: 0 0 20px;
        font-size: 25px;
    }
    .checkbox {
        input[type=checkbox] {
            margin-top: 3px;
        }
        display: inline;
    }
    .logo-group {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        a {
            display: block;
            margin: 0 auto;
        }
        img {
            max-width: 100px;
        }
    }
    .login-form {
        // background: @grey;
        padding: 20px;
        border-radius: 5px;
        border-width: 1px 1px 3px 1px;
        border-color: #DEDEDE;
        border-style: solid;
        margin-top: 40px;
    }
    .form-check {
        display: inline-block;
    }
    .form-check-input {
    	margin-left: auto;
    	left: 0;
    }
}


.theme {
    body {
      padding-top: 70px;
      padding-bottom: 30px;
    }

    .theme-dropdown .dropdown-menu {
      position: static;
      display: block;
      margin-bottom: 20px;
    }

    .theme-showcase > p > .btn {
      margin: 5px 0;
    }

    .theme-showcase .navbar .container {
      width: auto;
    }

}
